body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* background-color: #1F2937; */
    box-sizing: border-box;
}

.header-container, .info-container {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

#title-logo {
    color: #f9fAf8;
    font-size: 24px;
}

ul {
    color: #E5E7EB;
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.content {
    height: 400px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
    /* border: 2px solid red; */
}

.cat-content {
    width: 50%;
}

.cat-image {
    width: 50%;
    height: 250px;
    object-fit: cover;
}

.cat-heading {
    color: #f9fAf8;
    font-size: 48px;
    font-weight: 800;
}

.parah {
    color: #E5E7EB;
    font-size: 18px;
}

.button {
    background-color: #3882f7;
    border: none;
    color: #f9fAf8;
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.information-continer {
    background-color: white;
    height: 400px;
    padding: 20px;
    margin-bottom: 0;
}

.info-heading {
    text-align: center;
    color: #1f2937;
    font-size: 34px;
    font-weight: 800;
    padding-bottom: 20px;
}

.img-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    /* border: 2px solid red; */
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.items {
    width: 150px;
    height: 150px;
    text-align: center;
}

.quotation-container {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.inner-container {
    width: 70%;
    margin: 0 auto;
}

.quotation {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

.author {
    text-align: end;
    color: #1F2937;
    font-weight: 900;
    margin: 0;
}

.action-container {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
}

.inner-action-container {
    background-color: #3882f7;
    width: 70%;
    height: 150px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details {
    margin: 0;
}

.details-para-1 {
    color: #f9fAf8;
    font-weight: 600;
}

.details-para-2 {
    color: #E5E7EB;
}

.details-para-1, .details-para-2 {
    margin: 0;
}

.details-button {
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #3882f7;
    color: white;
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-rights {
    color: #E5E7EB;
}